.title {
    margin: 0 0 15px;
    color: #4A58B7;
    text-align: left;
    font: 18px OpenSansBold, Helvetica, Arial, sans-serif;
}

.list {
    display: flex;
    flex-direction: row;
    margin: 0 0 30px;
    padding: 0 0 10px;
    border-bottom: solid 1px #E5E5E5;
    list-style: none;
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

    .item {
        display: flex;
        margin: * * 18px;
        min-width: 120px;
    }

@media screen and (max-width: 920px) {
    .list {
        justify-content: space-around;
    }
}
