.link {
    display: inline-block;
    width: 100%;
    padding: * 15px;
    border: solid 1px #C4C4C4;
    border-radius: 4px;
    color: #000;
    text-decoration: none;
    font: 14px/32px OpenSansRegular, Helvetica, Arial, sans-serif;
    transition: color .3s, border-color .3s;

    &:hover {
        color: #4A58B7;
        border-color: #4A58B7;
    }
}
