.wrap {
    box-sizing: border-box;
    margin: auto;
    padding: 10px 50px;
    min-height: 645px;
    max-width: 960px;
    border: solid 1px #E5E5E5;
    background: #fff;
}

    .header {
        box-sizing: border-box;
        margin: 0 0 20px;
        min-height: 27px;
    }

        .title {
            color: #4F4F4F;
            font: 15px OpenSansBold, Helvetica, Arial, sans-serif;
        }

    .description {
        overflow: hidden;
        margin: 0 0 20px;
        padding: * 3px 20px;
        border-bottom: solid 1px #E5E5E5;
        color: #4F4F4F;
        text-align: left;
        text-overflow: ellipsis;
        font: 10px openSansItalic, Helvetica, Arial, sans-serif;
        transition: background .3s;

        & .text:hover {
            background: #F0EEEE;
        }
    }

        .description-title {
            color: #BFBFBF;
            text-transform: uppercase;
        }

        .description-input {
            display: inline-block;
            width: 90%;
            outline: none;
            border: none;
            color: #4F4F4F;
            font: 12px OpenSansRegular, Helvetica, Arial, sans-serif;
        }

    .list {
        margin: 0 0 20px;
        padding: 0;
        border-bottom: solid 1px #E5E5E5;
        list-style: none;
    }

    .fields-list {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%;
        list-style: none;
        justify-content: center;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    .button-wrap {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
    }

        .button {
            display: inline-block;
            padding: * 35px;
            border: solid 1px;
            border-radius: 4px;
            color: #7D88D4;
            text-decoration: none;
            font: 10px/27px OpenSansRegular, Helvetica, Arial, sans-serif;
            transition: color .3s, border-color .3s;

            &:hover {
                background: radial-gradient(#9AA5EC, #7D88D4);
                color: #fff;
            }
        }

@media screen and (max-width: 480px) {
    .wrap {
        padding: * 20px;
    }
}
