.wrap {
    box-sizing: border-box;
    padding: 13px 50px 0;
}

    .description {
        margin: 0 0 15px;
        padding: * 3px 15px;
        border-bottom: solid 1px #E5E5E5;
        color: #BFBFBF;
        text-align: left;
        font: 10px openSansItalic, Helvetica, Arial, sans-serif;
    }

    .title {
        margin: 0 0 15px;
        color: #4F4F4F;
        text-align: left;
        font: 20px OpenSansRegular, Helvetica, Arial, sans-serif;
    }

    .textarea {
        padding: 10px;
        min-height: 120px;
        width: 100%;
        outline: none;
        border: solid 1px #CCC;
        border-radius: 4px;
        color: #999;
        font: 10px Helvetica, Arial, san-serig;
        resize: vertical;
    }
