.button {
    border: solid 1px #CCC;
    border-radius: 4px;
    color: #fff;
    padding: 5px;
    box-sizing: border-box;
    size: 60% 100%;
    font: 14px/32px Helvetica, Arial, sans-serif;
    outline: none;
}
