.wrap {
    position: relative;
    display: flex;
    margin: 0 0 15px;
    min-height: 20px;
    align-items: center;
}

    .item {
        overflow: hidden;
        box-sizing: border-box;
        padding: 0 5px 0 0;
        color: #4F4F4F;
        font: 12px OpenSansRegular, Helvetica, Arial, sans-serif;
    }

    .question {
        display: flex;
        box-sizing: border-box;
        padding: 0 25px;
        width: 48%;
        text-overflow: ellipsis;
        align-items: center;
        composes: item;
    }

    .question-input {
        width: 100%;
        outline: none;
        border: none;
        color: #4F4F4F;
        font: 12px OpenSansRegular, Helvetica, Arial, sans-serif;
    }

    .text {
        overflow: hidden;
        padding: 0 5px 0 0;
        max-width: 80%;
        text-overflow: ellipsis;
    }

    .required-star {
        color: #FF0000;
    }

    .choices {
        box-sizing: border-box;
        width: 26%;
        composes: item;
    }

    .required-inner {
        margin: 0 60px 0 0;
        composes: item;
    }

        .required {
            display: inline-block;
            vertical-align: middle;
            padding: 0 10px 0 0;
            background: inline('./assets/Checkmark.svg') center no-repeat,
                inline('./assets/Rectangle.svg') center no-repeat;
            transition: opacity .3s;
            size: 12px;

            &:hover {
                opacity: .4;
            }
        }

        .not-required {
            background: inline('./assets/Rectangle.svg') center no-repeat;
            composes: required;
        }

        .required-text {
            text-transform: uppercase;
            font: 10px OpenSansRegular, Helvetica, Arial, sans-serif;
        }

    .remove-button {
        color: #FF8CA0;
        text-decoration: none;
        font: 10px OpenSansRegular, Helvetica, Arial, sans-serif;
        transition: opacity .3s;
        size: 12px;

        &:hover {
            opacity: .4;
        }
    }

.drag {
    position: absolute 50% * * 0;
    background: inline('./assets/dragHandler.svg') center/contain no-repeat;
    cursor: pointer;
    transform: translateY(-50%);
    size: 12px 25px;
}
