.wrap {
    display: flex;
    margin: 0 0 15px;
    min-height: 20px;
}

    .item {
        color: #4F4F4F;
        font: 12px OpenSansRegular, Helvetica, Arial, sans-serif;
    }

    .question {
        box-sizing: border-box;
        padding: 0 25px;
        width: 48%;
        composes: item;
    }

    .question-input {
        width: 100%;
        outline: none;
        border: none;
        color: #4F4F4F;
        font: 12px OpenSansRegular, Helvetica, Arial, sans-serif;
    }

    .required-star {
        color: #FF0000;
    }

    .edit-button {
        display: inline-block;
        padding: 0 0 0 10px;
        background: inline('./assets/edit.svg') right no-repeat;
        background-clip: content-box;
        vertical-align: middle;
        opacity: 1;
        cursor: pointer;
        transition: opacity .3s;
        size: 10px 100%;

        &:hover {
            opacity: .4;
        }
    }

    .choices {
        box-sizing: border-box;
        width: 26%;
        composes: item;
    }

    .required-inner {
        margin: 0 60px 0 0;
        composes: item;
    }

        .required {
            display: block;
            background: inline('./assets/Checkmark.svg') center no-repeat,
                inline('./assets/Rectangle.svg') center no-repeat;
            transition: opacity .3s;
            size: 12px 100%;

            &:hover {
                opacity: .4;
            }
        }

        .not-required {
            background: inline('./assets/Rectangle.svg') center no-repeat;
            composes: required;
        }

    .remove-button {
        color: #FF8CA0;
        text-decoration: none;
        font: 10px/25px OpenSansRegular, Helvetica, Arial, sans-serif;
        transition: opacity .3s;

        &:hover {
            opacity: .4;
        }
    }
