.wrap {
    display: flex;
    margin: 0 0 15px;
    min-height: 25px;
}

    .item {
        margin: 0 0 10px;
        color: #4F4F4F;
        font: 12px OpenSansRegular, Helvetica, Arial, sans-serif;
    }

    .question {
        box-sizing: border-box;
        padding: 0 25px 0 25px;
        width: 48%;
        composes: item;
    }

    .question-input {
        width: 100%;
        outline: none;
        border: none;
        border-bottom: solid 1px;
        color: #4F4F4F;
    }

    .required-star {
        color: #FF0000;
    }

    .choices {
        width: 26%;
        composes: item;
    }

    .required-inner {
        margin: 0 60px 0 0;
        composes: item;
    }

        .required {
            display: block;
            size: 12px 100%;
            background: inline('./assets/Checkmark.svg') center no-repeat,
                inline('./assets/Rectangle.svg') center no-repeat;
        }

        .not-required {
            composes: required;
            background: inline('./assets/Rectangle.svg') center no-repeat;
        }

    .remove-button {
        text-decoration: none;
        color: #FF8CA0;
        font: 10px OpenSansRegular, Helvetica, Arial, sans-serif;
    }
