.edit {
    display: inline-block;
    padding: 0 0 0 10px;
    background: inline('./assets/edit.svg') right no-repeat;
    background-clip: content-box;
    vertical-align: middle;
    opacity: 1;
    cursor: pointer;
    transition: opacity .3s;
    size: 12px;

    &:hover {
         opacity: .4;
    }
}
