.list {
    margin: 0 0 5px;
    padding: 0;
    list-style: none;
}

    .radio {
        display: inline-block;
        margin: 0 5px 0 0;
        padding: 0 0 0 15px;
        background: inline('./assets/Oval.svg') left/contain no-repeat;
        color: #BFBFBF;
        font: 10px OpenSansRegular, Helvetica, sans-serif;
    }

    .checkbox {
        display: inline-block;
        margin: 0 5px 0 0;
        padding: 0 0 0 15px;
        background: inline('./assets/Rectangle.svg') left/contain no-repeat;
        color: #BFBFBF;
        font: 10px OpenSansRegular, Helvetica, sans-serif;
    }

    .choice-input {
        outline: none;
        border: 0;
    }

    .edit {
        display: inline-block;
        margin: 0 2px 0 0;
        /* stylelint-disable */
        background: inline('./assets/edit.svg') center/contain no-repeat;
        /* stylelint-enable */
        vertical-align: middle;
        opacity: 1;
        transition: opacity .3s;
        size: 12px;

        &:hover {
            opacity: .4;
        }
    }

    .remove {
        display: inline-block;
        /* stylelint-disable number-no-trailing-zeros */
        background: inline('./assets/Remove.svg') center/contain no-repeat;
        /* stylelint-enable number-no-trailing-zeros */
        vertical-align: middle;
        opacity: 1;
        transition: opacity .3s;
        size: 11px;

        &:hover {
            opacity: .4;
        }
    }

    .add {
        display: block;
        color: #BEC4EA;
        text-decoration: none;
        font: 10px OpenSansRegular, Helvetica, Arial, Sans-serif;
    }
